$bg_color_header:#353332;
$bg_color_header_title:#2a2828;
$bg_color_tabs_bar:#2a2828;
$bg_color_nav_bar:#f6f6f6;
$bg_color_nav_bar_filter:#eef4fa;
$bg_color_primary:#0071ba;
$bg_color_primary_shade:#3e9bd0;
$bg_color_secondary:#f6f7f8;
$bg_color_disabled:#a7a7a7;
$color_primary:#0071ba;
$color_primary_shade:#3e9bd0;
$color_secondary:#f6f7f8;
$color_danger:#d11111;
$border-color:#cccccc;
