/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/main";

html,body {
    height: 100%;
    font-size: 16px;
    height: 100%;
    font-family: 'cairo',sans-serif;
}

.cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    padding-left: 0.3em !important;
}

html[dir="ltr"] {
    .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
        padding-right: 0.3em !important;
        padding-left: 0 !important;
    }
  }